[loggers]
keys=root

[logger_root]
handlers=screen,file

[formatters]
keys=simple,json

[formatter_simple]
format=%(asctime)s:%(name)s:%(levelname)s:%(message)s

[formatter_json]
format=%(asctime)s | %(name)s |  %(levelname)s | %(process)d | %(thread)d | %(funcName)s | %(pathname)s | %(filename)s | %(lineno)d | %(message)s
class = pythonjsonlogger.jsonlogger.JsonFormatter

[handlers]
keys=screen,file

[handler_screen]
class=StreamHandler
formatter=simple
level=INFO
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=INFO
formatter=json
args=('/app/log/application.log', 'w')